@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#f16504;
  --secondary:#0a356a;
  --from-primary:#eb7a29;
  --to-primary:#b84f04;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6b6b6b;
    --foreground: #ededed;
  }
}


body {
  background: var(--background);
  color: var(--secondary);
  font-family: var(--font-roboto), system-ui, sans-serif;
  font-weight:400;
  /* overflow-x: hidden; */
}
button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight:500;
   color:var(--secondary)
}

/* darker placeholder */
::placeholder {
  color: #4b5563; /* gray-600 */
  opacity: 1;
}

/* blinking cursor */
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.typing-cursor {
  animation: blink 1s infinite;
  margin-left: 2px;
}
.gray {
  @apply text-gray-500;
}
.border-color, .border {
  @apply border-gray-300
}

/* Swiper pagination dots - MiriLux style */
.swiper-pagination-bullet {
  background: #cbd5e1; /* gray-300 */
  opacity: 1;
}

.swiper-pagination-bullet {
  background: #cbd5e1; /* gray-300 */
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--primary);
}


@keyframes popup {
  0% {
    opacity: 0;
    transform: scale(0.9) translateY(20px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

.animate-popup {
  animation: popup 0.4s ease-out forwards;
}


/* Hide scrollbar completely */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}




.ribbon {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --f: .5em; /* control the folded part*/
  --r: .8em; /* control the ribbon shape */
  
  position: absolute;
  left: 20px;
  top: calc(-1*var(--f));
  padding: .2em;
  background: #BF4D28;
  border-left: var(--f) solid #0005;
  border-bottom: var(--r) solid #0000;
  clip-path: polygon(var(--f) 0,100% 0,100% 100%,calc(50% + var(--f)/2) calc(100% - var(--r)), var(--f) 100%,var(--f) var(--f),0 var(--f));
}