@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary:#f16504;
  --secondary:#0a356a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #6b6b6b;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--secondary);
  font-family: var(--font-roboto), system-ui, sans-serif;
  font-weight:500;
}
button {
  cursor: pointer;
}

/* darker placeholder */
::placeholder {
  color: #4b5563; /* gray-600 */
  opacity: 1;
}

/* blinking cursor */
@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.typing-cursor {
  animation: blink 1s infinite;
  margin-left: 2px;
}
.gray {
  @apply text-gray-500;
}